<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>部署データベース管理ページ</title>
        <style type="text/css">
            table, td, th {
                border: solid black 1px;
            }
            table {
                width:200
            }
        </style>
    </head>
    <body>
        <header>
            <h1>部署一覧管理ページ</h1>
        </header>
        <p>部署一覧</p>
        <table>
            <tr>
                <th>ID</th>
                <th>部署名</th>
            </tr>
            {% for department_info in department_infomation%}
            <tr>
                <td>{{ department_info.department_id }}</td>
                <td>{{ department_info.department_name }}</td>
                <form>
                    <td>
                        <button type="submit" name="change_department">編集</button>
                    </td>
                </form>
                <td>
                <form method="post" action="/delete_department_info">
                    <input type="hidden" name="delete_department_id" value='{{department_info.department_id}}'>
                    <button type="submit" name="delete_department">削除</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form method="post" action="/department/add">
            <button type="submit">新規作成</button>
        </form>
    </body>
</html>