<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>部署データベース管理ページ</title>
        <style type="text/css">
            table, td, th {
                border: solid black 1px;
            }
            table {
                width:200
            }
        </style>
    </head>
    <body>
        <p>部署一覧</p>
        <table>
            <tr>
                <th>ID</th>
                <th>部署名</th>
            </tr>
            {% for department_info in department_infomation%}
            <tr>
                <td>{{ department_info.department_id }}</td>
                <td>{{ department_info.department_name }}</td>
                <form>
                    <td>
                        <button type="submit" name="change_department">編集</button>
                    </td>
                </form>
                <form>
                    <td>
                        <button type="submit" name="delete_department">削除</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>