<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <linl rel="stylesheet" href="/static/css/design.css">
    <title>    
        社員情報一覧　トップ
    </title>
</head>
<header>
    <h1 class="headline">社員情報サイト</h1>
</header>
<body>
    <h1>社員一覧</h1>
    <!-- 新規追加ボタン -->
    <form method="post">
        <button type="submit" name="add">新規追加</button>
    </form>
    <!-- 検索ボタン -->
    <form method="post">
        <button type="submit" name="reserch">検索</button>
    </form>
    <!-- csvファイルに出力ボタン -->
    <form method="post">
        <button type="submit" name="output_to_csv">検索</button>
    </form>        
</body>

</html>