<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/design.css">
        <style type="text/css">
            table, td, th {
                border: solid black 1px;
            }
            table {
                width:200
            }
        </style>
    <title>    
        社員情報一覧　トップ
    </title>
</head>

<body>
    <header>
    <h1 class="headline">社員情報サイト</h1>
    </header>
    <p>社員一覧</p>
    
    <table>
    <tr>
        <th>社員ID</th>
        <th>名前</th>
    </tr>

    {% for employee in employee_infomation %}
    <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.employee_name }}</td>
        <form>
            <td>
                <button type="submit" name="change_infomation">編集</button>
            </td>
        </form>
        <form>
            <td>
                <button type="submit" name="delete_infomation">削除</button>
            </td>
        </form>
    </tr>
    {% endfor %}
    </table>
    

    <!-- 新規追加ボタン -->
    <form>
        <button type="submit" name="add_new_employee">新規追加</button>
    </form>
    <!-- 検索ボタン -->
    <form action="search">
        <button type="submit" name="research">検索</button>
    </form>
    <!-- csvファイルに出力ボタン -->
    <form>
        <button type="submit" name="output_to_csv">csvに出力</button>
    </form>        
</body>

</html>